@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Roboto:wght@400;700&display=swap');

/* font-family: 'Cardo', serif;
font-family: 'Roboto', sans-serif; */

html{
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

ul{
    list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}

body{
    font-family: 'Cardo', serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
}

.container{
    max-width: 1460px;
    padding: 0 10px;
    margin: 0 auto;
}

/*HEADER*/

/*HEADER__INNER*/

.header{

}

.header__inner{
    border-bottom: 1px solid #E5E5E5;

}

.menu{
    display: flex;
    padding: 14px 0;
    align-items: center;
}

.menu__list{
   display: flex;
   margin-right: 328px;
   gap: 20px;
}

.menu__link{
    font-size: 17px;
    line-height: 23.02px;

}

/*HEADER-TOP*/

.header__top{
    background-image: url(../img/background-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 36px;
    color: #fff;

}

.header__top-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 27px;
    line-height: 38.4px;
    padding-top: 257px;
    padding-bottom: 35px;
    max-width: 807px;
    margin-left: 316px;
    text-align: center;
}

.header__top-link{
    margin-bottom: 250px;
    display: inline-block;
    border: 1px solid #fff;
    padding: 4px 38px 4px 41px;
    text-align: center;
    margin-left: 620px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;

}

.header__top-link-btn{
    display: inline-block;
    text-align: left;
    font-size: 15px;
    line-height: 20.24px;
    border: 1px solid #000000;
    background-color: #000000;
    padding: 16px 30px 14px 31px;

}




/*MAIN*/

.main{
    flex-grow: 1;
}

/*FEATURES*/

.features{

}

.features__menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 63px 0;
    

}

.features__menu-list{
    display: flex;
    gap: 130px;
}

.link-1{
position: relative;
}

.link-1::before{
    content: url(../img/car.svg);
    position: absolute;
    display: inline-block;
    left: -70px;

}

.link-2{
position: relative;
}

.link-2::before{
    content: url(../img/star.svg);
position: absolute;
display: inline-block;
    left: -60px;
    top: -10px;

}

.link-3{
position: relative;
}

.link-3::before{
    content: url(../img/forest.svg);
    position: absolute;
    display: inline-block;
    left: -45px;
    top: -10px;

}

.link-4{
    position: relative;

}

.link-4::before{
    content: url(../img/place.svg);
    position: absolute;
    display: inline-block;
    left: -60px;
    top: -10px;
}

.features__menu-item{

}

.features__menu-item-img{

}

.features__menu-item-link{
    font-weight: 400;
    font-size: 13px;
    line-height: 23.8px;
    font-family: 'Roboto', sans-serif;


}

.features__text{
    font-weight: 400;
    font-size: 12px;
    line-height: 23.8px;
    font-family: 'Roboto', sans-serif;
    margin-left: 160px;

}

/*SECTION-PHOTO*/

.photo{
display: flex;
justify-content: center;

}

.photo__img{
    

}

/*FOOTER*/

.footer{
    background-color: #e9e9e9;

}

.footer__menu{
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 20px;

}

.footer__menu-list{
    max-width: 208px;

}

.footer__menu-item + .footer__menu-item{
    padding-bottom: 13px;
}

.footer__menu-link{

}

.footer__menu-link-title{
    font-size: 21px;
    line-height: 21px;
    margin-bottom: 45px;
    text-transform: uppercase;
    font-weight: 400;

}

.footer__news{

}

.footer__text{
    font-size: 15px;
    line-height: 27.86px;
    padding-bottom: 15px;

}

.footer__btn{
    border: 1px solid #000000;
    padding: 4px 45px;
    margin-bottom: 25px;

}

.footer__news-link-btn-img{
text-align: center;
margin-left: -50px;
margin-bottom: 19px;
}

.footer__news-link{
    padding-left: 40px;
    display: inline-block;
    text-align: center;

}

.footer__news-img{

}

.trustpilot{

}

.trustpilot-img{

}

.copy{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    padding-bottom: 60px;
    

}

.copy__text{
    font-size: 12px;
    line-height: 22.29px;


}

.copy__list{
display: flex;
}

.copy__link{

}

.copy__link-img{

}

.terns__conditions{
    font-size: 11px;
    line-height: 22.29px;
}

.terns{

} 

.conditions{
    border-right: 1px solid #000000;
    padding-right: 5px;

}

.privacy{
padding-left: 5px;
}